{% extends 'base.html' %}
{% load static %}

{% block title %}X | Home{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/homepage.css' %}">
<link rel="stylesheet" href="{% static 'css/common.css' %}">
{% endblock %}

{% block content %}

<div class="feed-tabs">
    <a href="?tab=for_you" class="{% if tab == 'for_you' or not tab %}active{% endif %}">For You</a>
    <a href="?tab=following" class="{% if tab == 'following' %}active{% endif %}">Following</a>
</div>

<main class="content">
    {% for item in feed %}
    {% include "post_card.html" with post=item.post item=item link_user=True show_edit_menu=True show_edit_delete=False extra_class="" comments_visible=False %}
    {% endfor %}
</main>

<script src="{% static 'scripts/postActions.js' %}"></script>

{% endblock %}