{% extends 'base.html' %}
{% load static %}

{% block title %}X | Trending{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/homepage.css' %}">
{% endblock %}

{% block content %}

<h2 class="page-title">Trending</h2>

<main class="content">

{% for post in posts %}

<div class="post-card">

    <div class="post-user">

    <a href="{% url 'accounts:profile' post.user.username %}" class="user-left">

        {% if post.user.profile_pic %}
            <img src="{{ post.user.profile_pic.url }}" class="profile-pic">
        {% else %}
            <img src="{% static 'images/default-profile.jpeg' %}" class="profile-pic">
        {% endif %}

        <div class="post-meta">
            <b>
                {{ post.user.first_name|default:post.user.username }}

                {% if post.user.verification_status == 'approved' %}
                    <img src="{% static 'images/x-bluetickicon.png' %}" class="bluetick-icon">
                {% endif %}
            </b>
            <small>{{ post.created_at|date:"d M Y H:i" }}</small>
        </div>

    </a>

    </div>

    <div class="post-text">{{ post.content }}</div>

    {% if post.image %}
        <img src="{{ post.image.url }}" class="post-media">
    {% endif %}

    {% if post.video %}
        <video controls class="post-media">
            <source src="{{ post.video.url }}">
        </video>
    {% endif %}

<div class="post-actions">
     <img src="{% static 'images/x-commenticon.png' %}"
         class="comment-icon"
         onclick="toggleComments(this)">
        <div>
    <span class="repost-btn {% if post.user_has_reposted %}active{% endif %}"
          data-post="{{ post.id }}"
          onclick="toggleRepost(this)">
          <img src="{% static 'images/x-retweeticon.png' %}"
         class="retweet-icon">
    </span>
    <span class="repost-count">{{ post.reposts.count }}</span>
        </div>
            <div>
        <span class="like-btn {% if post.user_has_liked %}active{% endif %}"
              data-post="{{ post.id }}"
              onclick="toggleLike(this)">
            ❤️
        </span>
        <span class="like-count">{{ post.likes.count }}</span>
    </div>   
    <div>
<span class="bookmark-btn {% if post.user_has_bookmarked %}active{% endif %}"
      data-post="{{ post.id }}"
      onclick="toggleBookmark(this)">
    <img src="{% static 'images/x-bookmarkicon.png' %}"
         class="bookmark-icon">
</span>
</div>
        <div class="share-wrapper">
<span class="share-btn" onclick="toggleShareMenu(this)"><img src="{% static 'images/x-shareicon.png' %}"
         class="share-icon"></span>
<div class="share-menu" style="display:none;">
    <button onclick="copyPostLink(this)" data-post="{{ post.id }}">
        Copy link
    </button>
    <button onclick="closeShareMenu(this)">Cancel</button>
</div>
</div>
</div>

<div class="comment-section">

    <form action="{% url 'posts:comment_post' post.id %}"
          method="POST"
          class="comment-form"
          data-post="{{ post.id }}">
        {% csrf_token %}

        <input type="text"
               name="comment"
               placeholder="Write a reply..."
               required>

        <button type="submit">Reply</button>
    </form>

<div class="comments-list">
    {% for comment in post.top_comments %}
        {% include "comment.html" with comment=comment %}
    {% empty %}
        <p class="no-comments">No comments yet.</p>
    {% endfor %}
</div>
</div>

</div>

{% empty %}
<p>No trending posts</p>
{% endfor %}

</main>

<script src="{% static 'scripts/postActions.js' %}"></script>

{% endblock %}