{% extends 'base.html' %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/people.css' %}">
{% endblock %}
{% block content %}

<h2 class="page-title">People</h2>

<div class="people-list">

    {% for user in users %}

    <div class="person-card">

        <a href="{% url 'accounts:profile' user.username %}" class="person-info">

            {% if user.profile_pic %}
                <img src="{{ user.profile_pic.url }}" class="profile-pic">
            {% else %}
                <img src="{% static 'images/default-profile.jpeg' %}" class="profile-pic">
            {% endif %}

            <div>
                <b>
                    {{ user.username }}

                    {% if user.verification_status == 'approved' %}
                        <img src="{% static 'images/x-bluetickicon.png' %}" class="bluetick-icon">
                    {% endif %}
                </b>

                <p>{{ user.bio|default:"No bio" }}</p>
            </div>

        </a>

        <a href="{% url 'accounts:follow_user' user.id %}" class="follow-btn">
            {% if user in request.user.following.all %}
                Unfollow
            {% else %}
                Follow
            {% endif %}
        </a>

    </div>

    {% endfor %}

</div>

{% endblock %}